@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --base-blue-clr: rgb(81, 255, 253);
    --base-white-clr: rgb(255, 255, 255);
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    background-image: linear-gradient(rgba(2, 2, 2, 0.5),rgba(0, 0, 0, 0.5)), url("images/home_shade_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px 5%;
    transition: background-color 0.5s ease;
    z-index: 1000;
    overflow: hidden;
}
header.scrolled{
    background-color: rgba(0, 0, 0, 0.5);
}
nav{
    flex: 2;
    text-align: center;
}
.nav__links{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.nav__links li{
    display: inline;
    padding: 0 20px;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
    color: var(--base-white-clr);
    text-decoration: none;
    font-size: 1.5rem;
}
.nav__links li a:hover{
    color: var(--base-blue-clr);
}
button{
    width: 200px;
    background-color: transparent;
    border: 2px solid var(--base-blue-clr);
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
    text-wrap: nowrap;
    color: var(--base-white-clr);
    padding: 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
button:hover{  
    box-shadow: 1px 1px 10px white;
}
h1{
    font-size: 2rem;
} 
h2{
    font-size: 1.3rem;
    text-wrap: wrap;
    text-align: center;
}
i{
    color: var(--base-blue-clr);
    font-size: 2rem;
}

.box{
    box-sizing: border-box;
    height: 130px;
    min-width: 250px;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 5px ;
    border: 1px solid var(--base-white-clr);
    color: var(--base-white-clr);
    transition: all 0.3s ease-in-out;
}
.box:hover{
    border: 1px solid var(--base-blue-clr);
    box-shadow: 1px 1px 10px white;
}
#logo-header{
    max-width: 5rem;
    min-height: 100%;
    cursor: pointer;
    margin-top: 10px;
}
#logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 100px;
    color: var(--base-white-clr);
    > img{
        margin-bottom: 50px;
    }
}
section{
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}
.text-box{
    flex: 1;
    padding: 50px;
    min-width: 500px;
    width: 500px;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#home{
    justify-content: center;
    align-items: center;
    padding: 20px;
    transition: 0.5s ease;
}
#about{
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding-bottom: 50px;
}
#about > div > div{
    width: 600px;
    border-radius: 25px;
}
#about ul{
    list-style: none;
}
.image{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
.image img{
    max-height: 50vh;
    height: auto;
    max-width: 100%;
    border-radius: 25px;
}
#clients{
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    padding-bottom: 50px;
}
#services{

}
#gallery{

}


.slider{
    width: 100%;
    border: 1px solid red;
    height: var(--height);
    overflow: hidden;    
    mask-image: linear-gradient(
        to right, 
        transparent, 
        #000 10% 90%,
        transparent
        );
}
.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 20s linear infinite;
    animation-delay: calc( (20s / var(--quantity)) * (var(--position) - 1) );
}
.slider .list .item img{
    width: 100%;
}
@keyframes autoRun{
    from{
        left: 100%;
    }
    to{
        left: calc(var(--width) * -1)
    }
}

@media screen and (max-width: 990px) {
    nav{
        visibility: hidden;
    }
    section{
        flex-wrap: wrap;
    }
}