@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --base-blue-clr: rgb(0, 222, 252);
    --base-white-clr: rgb(255, 255, 255);
    --base-black-clr: rgb(0, 0, 0);
  }
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    background-image: linear-gradient(rgba(2, 2, 2, 0.5),rgba(0, 0, 0, 0.5)), url("images/home_shade_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
body{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;  
}
header{
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 30px 5%;
    transition: background-color 0.5s ease;
    z-index: 1000;
    overflow: hidden;
}
header.scrolled{
    background-color: rgba(0, 0, 0, 0.8);
}
footer {
    background-color: var(--base-black-clr);
    color: var(--base-white-clr);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
nav{
    flex: 2;
    text-align: center;
}
.nav__links{
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
}
.nav__links li{
    display: inline;
    padding: 0 20px;
    flex-wrap: nowrap;
    text-wrap: nowrap;
}
.nav__links li a{
    transition: all 0.3s ease 0s;
    color: var(--base-white-clr);
    text-decoration: none;
    font-size: 1.5rem;
}
.nav__links li a:hover{
    text-shadow: 1px 1px 10px var(--base-blue-clr);
    color: var(--base-blue-clr);
}
.nav__links li a.active {
    color: var(--base-blue-clr);
}
button {
    width: 200px;
    background-color: transparent;
    border: 2px solid var(--base-blue-clr);
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
    text-wrap: nowrap;
    color: var(--base-white-clr);
    padding: 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
button:hover {  
    box-shadow: 1px 1px 10px white;
    background: var(--base-blue-clr);
    color: black;
}
h1{
    font-size: 2rem;
} 
h2{
    font-size: 1.3rem;
    text-wrap: wrap;
}
h3{
    font-size: 1.5rem;
}
i{
    color: var(--base-blue-clr);
    font-size: 1.5rem;
    margin-right: 10px;
}
.modul{
    background-color: white;
    
}
#special-text{
    color: var(--base-blue-clr);
    font-weight: 500;
}
.section-title {
    padding: 50px 0px 30px 0px;
    width: 90%;
}
.section-title h2 {
    font-size: 24px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #aaaaaa;
}
.section-title h2::after {
    content: "";
    width: 120px;
    height: 1px;
    display: inline-block;
    background: var(--base-blue-clr);
    margin: 4px 10px;
}
.section-title p {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    font-family: "Roboto", sans-serif;
    color: #151515;
}
.section-title a {
    font-size: 1.2rem;
}
.box{
    box-sizing: border-box;
    height: 130px;
    min-width: 200px;
    align-items: center;
    align-content: center;
    text-align: center;
    justify-content: center;
    margin: 5px ;
    border: 1px solid var(--base-white-clr);
    color: var(--base-white-clr);
    transition: all 0.3s ease-in-out;
    border-radius: 10px;
}
.box:hover{
    border: 1px solid var(--base-blue-clr);
    box-shadow: 1px 1px 15px white;
}
.box i {
    font-size: 2.5rem;
}
.container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 10px;
    max-width: 1300px;
    width: 1300px;
}
.content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: justify;
    gap: 20px;
    width: 90%;
    padding: 5px;
    color: #555555;
}
.content-main-text {
    font-size: 1.2rem;
    color: #555555;
}
.content-table {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: start;
    max-width: 500px;
    line-height: 1;
}
.content-table > i {
    font-size: 1rem;
}
.services-card{
    margin: 10px;
    border: .5px solid rgb(197, 197, 197);
    height: 400px;
    width: 250px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: .8rem;
    color: rgb(50, 50, 50);
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
}
.services-card:hover{
    box-shadow: 1px 1px 10px rgb(100, 100, 100);
    transform: scale(1.1);
}
.services-card > p {
    margin: 0 20px;
    word-wrap: wrap;
    font-size: 1rem;
    text-align: justify;
}
.services-card > p > b {
    white-space: nowrap;
}
.card-img {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
}
.card-img-1 {
    background-image: url('./images/cards/brett-jordan-faOPbPmznfQ-unsplash.jpg');
}
.card-img-2 {
    background-image: url('./images/cards/ibrahim-rifath-OApHds2yEGQ-unsplash.jpg');
    background-position: -30px 0px;
}
.card-img-3 {
    background-image: url('./images/cards/akshar-dave-AogXOgHblv8-unsplash.jpg');
    background-position: 0px -100px;
}
.card-img-4 {
    background-image: url('./images/cards/constantin-wenning-idDvA4jPBO8-unsplash.jpg');
    background-position: -40px 0px;
}

.team-card-box {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 100%;
    align-items: stretch !important;
}
.team-card{
    margin: 10px;
    border: .5px solid rgb(197, 197, 197);
    height: 450px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: .8rem;
    color: rgb(50, 50, 50);
    transition: all 0.3s ease-in-out;
    border-radius: 15px;
}
.team-card:hover{
    transform: scale(1.05);
    cursor: pointer;
}
.team-card > p {
    margin: 0 20px;
    word-wrap: wrap;
}
.team-card > p > b {
    white-space: nowrap;
}
.team-card-img {
    width: 100%;
    height: 250px;
    margin-bottom: 10px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px 15px 0 0;
}
.team-card-img-1 {
    background-image: url('./images/team/lk_02.png');
}
.team-card-img-2 {
    background-image: url('./images/team/rk_01.png');
    background-position: 0px -20px;
}
.team-member-info > p {
    font-size: 1rem;
    color: #8b8b8b;
}
.team-content{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    width: 90%;
    gap: 10px;
}
.social-box {
    padding: 20px 30px;
}
.social {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    align-items: start;
}
.social i {
    color: #8b8b8b;
}
.social span {
    font-size: 1rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;

}

#logo-header{
    max-width: 5rem;
    min-height: 100%;
    cursor: pointer;
    margin-top: 10px;
}
#logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 100px;
    color: var(--base-white-clr);
    > img{
        margin-bottom: 50px;
    }
}
.text{
    width: 50%;
}
.text ul {
    list-style: none;
}
.image{
    margin: 0 20px 10px 20px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
    max-height: 500px;
    width: 500px;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#about-image {
    background-image: url('./images/gallery/car002.jpeg');
    background-position: 50%;
    min-height: 400px;
}
#why-image {
    background-image: url('./images/gallery/potrubi005_2.jpeg');
    min-height: 400px;
}
#counts-image {
    background-image: url('./images/gallery/car001.jpeg');
    background-position: 50%;
    min-height: 400px;
}
.contact-row{
    height: 250px;
    justify-content: space-evenly;
    align-items: center;
    line-height: 2.5rem;
    background-color: transparent;
    color: var(--base-white-clr);
}
.contact-content {
    align-items: center;
    justify-content: center;
    text-align: center;
}
.contact-info {
    width: 50%;
    max-width: 400px;
    width: 100%;
    margin: auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
}
#home{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-items: center;
    align-content: center;
    padding: 20px;
    transition: 0.5s ease;
}
#about ul{
    list-style: none;
}

.filter-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.filter-buttons button {
    width: 100px;
    background-color: rgb(234, 238, 238);
    border: 2px solid transparent;
    box-shadow: rgb(190, 190, 190) 1px 1px 10px;
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
    text-wrap: nowrap;
    color: var(--base-black-clr);
    padding: 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.filter-buttons button:hover {
    box-shadow: 1px 1px 10px rgb(117, 117, 117);
    color: black;
}
.filter-buttons button.active {
    background-color: var(--base-blue-clr);
    box-shadow: 1px 1px 10px rgb(104, 104, 104);
}

.send-button {
    width: 200px;
    background-color: rgb(155, 155, 155);
    border-radius: 10px;
    text-decoration: none;
    font-size: 1.3rem;
    text-align: center;
    text-wrap: nowrap;
    color: var(--base-white-clr);
    padding: 10px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
}
.send-button:hover{  
    box-shadow: 1px 1px 20px rgb(155, 155, 155);
    background-color: var(--base-blue-clr);
    color: black;
}
.success {
    color: green;
    font-size: 1.1rem;
}
.error {
    color: red;
    font-size: 1.1rem;
}


.gallery-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    margin: 0 auto;
    max-width: 100%; /* Galerie nebude přesahovat obrazovku */
}
.gallery-image {
    display: block;
}
.gallery-image img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
    transition: transform 0.3s ease;
}
.gallery-image img:hover {
    transform: scale(1.5);
    border-radius: 10px;
    cursor: pointer;
}
.hidden {
    display: none;
}
#small-row {
    height: 100px;
}
#motto {
    font-weight: 700;
}

.count-box {
    padding: 30px 0;
    width: 100%;
}
.count-box i {
    display: block;
    font-size: 36px;
    color: var(--base-blue-clr);
    float: left;
}
.count-box span {
    font-size: 48px;
    line-height: 30px;
    display: block;
    font-weight: 700;
    color: #151515;
    margin-left: 50px;
}
.count-box p {
    padding: 15px 0 0 0;
    margin: 0 0 0 50px;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    color: #3b3b3b;
}

.scroller {
    max-width: 1000px;
}
.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}
.scroller[data-animated=true] {
    overflow: hidden;
    -webkit-mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
    mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}
.scroller[data-animated=true] .scroller__inner {
    width: fit-content;
    flex-wrap: nowrap;
    animation: scroll 20s linear infinite;
}
.scroller__inner img {
    height: 4rem;
    opacity: 0.6;
    filter: grayscale(100);

}

.contact-info {
    width: 50%;
    max-width: 400px;
    width: 100%;
    margin: auto;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

.contact-form {
    max-width: 90%;
    width: 500px;
    margin: auto;
    padding: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgb(206, 205, 205);
    resize: none;
    font: inherit;
}

.contact-form textarea {
    min-height: 80px;
    max-height: 250px;
    overflow-y: auto;
}

.contact-form button {
    width: 100%;
    padding: 10px;
    background: var(--base-blue-clr);
    color: var(--base-black-clr);
    border: none;
    border-radius: 4px;
    box-shadow: 1px 1px 10px rgb(206, 205, 205);
    cursor: pointer;
    font-size: 16px;
    font: inherit;
}

.contact-form button:hover {
    background: rgb(0, 140, 255);
    box-shadow: 1px 1px 10px rgb(146, 146, 146);
    color: var(--base-black-clr);
}
.contact-pair {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}

.input-row {
    display: flex;
    gap: 10px;
}
.input-row input {
    flex: 1;
}
.email, .phone, .address {
    width: 300px;
    justify-content: start;
}

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: start;
    flex-wrap: wrap;
    margin: 50px 10px;
    gap:  30px;
}
.footer-box {
    margin: 0 50px;
}
.footer-box > ul, li, a {
    list-style: none;
    text-decoration: none;
    color: inherit;
}
.footer-box a:hover {
    color: var(--base-blue-clr);
}

@keyframes scroll{
    to{
        transform: translate(calc(-50% - 1rem));
    }
}

@media screen and (max-width: 990px) {
    nav{
        visibility: hidden;
    }
    section{
        flex-wrap: wrap;
    }
}

@media (min-width: 900px) {
    .gallery-group {
        grid-template-columns: repeat(4, minmax(200px, 1fr));
    }
}
